<header class="header">
    <div class="logo">OpenHands</div>
    <nav class="nav">
        <ul class="nav-list">
            <li><a href="translate.html" class="nav-link" id="link-translate" data-page="translate">Translate</a></li>
            <li><a href="learn.html" class="nav-link" id="link-learn" data-page="learn">Learn</a></li>
            <li><a href="dictionary.html" class="nav-link" id="link-dictionary" data-page="dictionary">Dictionary</a></li>
            <li><a href="about.html" class="nav-link" id="link-about" data-page="about">About</a></li>
        </ul>
    </nav>
</header>

<script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
